@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src:url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato-Thin;
  src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}

input {
  outline:none;
}

li {
  list-style-type: none; 
}

body {
  font-family: 'Lato', 'sans-serif';
}

ul {
  margin-left: 0; 
  padding-left: 0; 
}

a {
  text-decoration: none;
  color: #222222;
}

.p, h1, h2, h3 {
  margin:0;
}

a:hover {
  color: #222222;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none
}

.header {
  margin-top:25px;
}

.header_main {
  display: flex;
  justify-content: space-between;
}

.header_left { 
  display: flex;
  align-items: center;
}

.header_right { 
  display: flex;
  align-items: center;
}

.alignment {
  margin: 0 auto;
  max-width: 1140px;
}


.logo {
  display: flex;
  margin-right: 37px;
  align-items: center;
}

.bran {
  margin-left: 13px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1px;
}

.d {
  margin-right: 37px;
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
  margin-top: 1px;
}

.browse {
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  width: 89px;
}

.browse-title[open] .arrow {
  transform:rotate(180deg);
}

.browse-title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.35px;
  position: relative;
}

.browse-subtitle {
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 36px;
  position: relative;
}

.arrow {
  margin-left: 7px;
  color: #838383;
  font-size: 14px;
}

.browse_box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left:35px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.browse_box {
  width: 222px;
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px 20px 20px 15px;
  z-index: 1;
  border:1px solid #e6e6e6;
}

.browse_box_heading {
  color: #4f4f4f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-bottom: 9px;
  margin-top: 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}

.browse_box_item {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  display: block;
  line-height: 28px;
  text-transform: none;
}

.browse_box_content_bottom {
  margin-top: 15px;
}

.header__form {
  display: flex;
}

.header__search_input {
  width: 284px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-family: 'Lato';
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
  border-right: none;
  border-left: none;
}

.header__search_btn {
  width: 36px;
  padding: 12px 11px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
  border-left: none;
  border: 1px solid #e6e6e6;
  height: 38px;
}

.basket {
  width: 32px;
  height: 29px;
  margin-right: 26px;
}

.cart__down {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 21px 15px 20px 17px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  top: 82px;
}

.cart__down-price {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__down-price_text {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__down-chek {
  display: block;
  padding: 19px 74px;
  background-color: #fff;
  color: #f16d7f;
  margin-bottom: 10px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
}

.cart__down-chek:hover {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
}

.cart__down-go {
  display: block;
  padding: 20px 72px 18px 71px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__down::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 11px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}



.cart__down-go:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

.cart__down-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ededed;
}


.star {
  font-size: 12px;
  color: #e4af48;
}

.cart__text {
  line-height: 1.6;
}

.cart__text-heading {
  color: #222222;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.8;
}

.cart__text-star {
  display: flex;
}

.cart__text-price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.8;
}

.close {
  color: #c0c0c0;
  font-size: 16px;
}

.account {
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  width: 130px;
}

.account-title {
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: normal;
  position: relative;
}

.account-title[open] .arrow {
  transform:rotate(180deg);
}

.account-subtitle {
  display: flex;
  padding-left: 19px;
  align-items: center;
  width: 130px;
  height: 38px;
}

.arrow__white {
  color: #ffffff;
}

.hr {
  border: none;
  background-color: #ececec;
  color: #ececec;
  margin-top: 30px;
  margin-bottom: 0px;
  opacity: 1;
}


.nav-list {
  display: flex;
  justify-content: space-between;
  width: 680px;
  height: 51px;
  position: relative;
  padding-right: 0px;
}

.nav-item {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.megabox::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left:10px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.megabox_last::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top:-8px;
  left:820px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.megabox {
  width: 846px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 51px;
  display: flex;
  z-index: 1; 
  padding-bottom: 20px;
  display: none;
  border:1px solid #e6e6e6;
}

.nav-item:hover .megabox {
  display:flex;
  box-shadow: 0 5px 8px #f16d7f;
}

.megabox__content {
  width: 235px;
}

.megabox__content_left {
  margin-left: 25px;
}

.megabox_heading {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-bottom: 9px;
  margin-top: 21px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}


.megabox_item {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  display: block;
  line-height: 28px;
  text-transform: none;
}

.megabox__content_right {
  margin-left: 46px;
}

.megabox__content_right {
  position: relative;
  margin-left: 46px;
}

.megabox__content_black {
  margin-top: 13px;
  width: 255px;
  height: 118px;
  position: relative;
  left: -14px;
}

.megabox__content_img {
  background-image: url(../img/megabox_img.png);
  width: 255px;
  height: 118px;
  position: absolute;
  top: 181px;
  right: -6px;
}

.megabox__content_img:hover {
  box-shadow: 0 0 10px black;
}

.last2:hover .megabox {
  right:0px;
}

.last1:hover .megabox {
  right:120px;
}

.arrivals {
  background-color: #f8f3f4;
}

.arrivals__box {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrivals__text {
  color: #f16d7f;
  font-family: "Lato-Black";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  }

  .arrivals__nav {
    color: #636363;
  }

  .arrivals__link {
  color: #636363;
  font-family: "Lato-Light";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;  
  text-transform: uppercase;
  }

  .arrivals__link:hover {
    color: #f16d7f;
    font-weight: bold;
    transition: color 1s ease-out;
  }

  .items-box {
    margin-top: 90px;
  }

  .checkout-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }

  .product-about {
    margin-left: 21px;
  }

  .product-title {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 34px;
    margin-top: 13px;
  }

  .product-subtitle {
    margin-top: 33px;
  }


  .product-subtitle_text {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    margin: 0;
  }


  .items-box_right-title {
    display: flex;
    width: 621px;
    justify-content: space-between;
  }

  .items-box_right {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  .items-quantity {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 2px 22px;
    color: #bcbcbc;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .items-text {
    margin: 0;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .items-text__checkout {

  }



  .items-box_title {
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
  }

  .product {
    display: flex;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
  }

  .product:hover {
    box-shadow: 0 5px 8px #f16d7f;
    box-sizing:border-box;
    transition: all 1s ease-out;
  }

  .dropdown {
    width: 243px;
  }
  
  .dropdown__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
  }
  
  .dropdown__item[open] .dropdown-arrow {
    transform:rotate(180deg);
  }

  .dropdown__item-summary {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 37px;
  }

  .dropdown__flex {
    width: 100%;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown__item-link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
  
  .dropdown__item-block > ul {
    padding-left: 17px;
  }
  
  .dropdown__item-list {
    padding-top: 20px;
  }
  
  details:hover .dropdown__item-summary {
    color: #f16d7f;
  }
  
  .block {
    width: 5px;
    height: 37px;
    background-color: #ef5b70;
    margin-right: 16px;
  }

  .dropdown__item-summary::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #ef5b70;
    margin-right: 16px;
}

.dropdown__item-list > a:hover {
  color: #f16d7f;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.cart__btn-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 63px;
  margin-top: 44px;
}

.cart__btn {
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #eaeaea;
  padding: 14px 38px;
}

.cart__btn:hover {
  background-color: #f16d7f;
  color: #fff;
  transition: all 0.5s ease-out;
}

.cart__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.cart__form input {
  padding: 17px 0 17px 17px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  border: 1px solid #eaeaea;
  width: 355px;
  cursor: text;
  margin-bottom: 20px;
}

.cart__form h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.cart__form p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 24px;
}

.cart__form button {
  background-color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
}

.cart__form-total h4 {
  text-align: right;
}

.cart__form-total p {
  text-align: right;
  padding-top: 40px;
  padding-bottom: 14px;
}

.cart__form-total hr {
  color: #e2e2e2;
  margin: 0 0 17px 0;
  background-color: currentColor;
  border: 0;
  opacity: 1;
}

.pink {
  color: #f16d7f;
}

.cart__form-border {
  background-color: #f5f3f3;
  padding: 40px 42px;
}


.cart__form-total button {
  background-color:#f16d7f;
  color:#f5f3f3;
  padding: 14px 48px;
  font-size: 16px;
}

.cart__form-total form p {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.cart__form-total span {
  margin-left: 20px;
}


.cart__form-get button:hover {
  background-color: #f16d7f;
  color: #fff;
  transition: all 0.5s ease-out;
}

.cart__form-total button:hover {
  background-color:  black;
  color:#f16d7f;
  transition: all 0.5s ease-out;
}

  .information {
    background-image: url(../img/information_img.png);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    height: 438px;
    position: relative;
    background-size: 100% 438px;
  }
  
  .vertical-line {
    width: 1px;
    height: 438px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 0;
  }
  
  .information__main {
    display: flex;
  }
  
  .comments {
    display: flex;
    margin-top: 111px;
  }
  
  .comments__img {
    background-image:url(../img/comments__img.png);
    width: 83px;
    height:83px;
  }
  
  .comment {
    margin-left: 30px;
  }
  
  .comment__text {
    width: 386px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-bottom: 19px;
  }
  
  .comment__info {
    width: 82px;
  }
  
  .comment__info_name {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
  }
  
  .comment__info_country {
    color: #222224;
    font-family: "Lato-Light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
  }
  
  .comment__slides {
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-top: 38px;
  }
  
  .comment__slide {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
  }
  
  .comment__slide:hover {
    background-color: #f16d7f;
  }
  
  .subscribe {
    margin-top: 148px;
    margin-left: 165px;
  }
  
  .subscribe__box {
    margin-bottom: 35px;
  }
  
  .subscribe__title {
    color: #222224;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .subscribe__subtitle {
    color: #222224;
    font-family: 'Lato';
    text-align: center;
    line-height: 54px;
    text-transform: uppercase;
    line-height: 24px;
  }
  
  .subscribe__search_input {
    width: 284px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    border: none;
    color: #222224;
    font-family: Lato;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
  }
  
  .subscribe__search_btn {
    background-color: #f16d7f;
      padding: 18px 20px;
      border: none;
      border-radius: 0 23px 23px 0;
      color: #ffffff;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      font-style: normal;
      letter-spacing: 0.35px;
  }
  
  
  .subscribe__form {
    display: flex;
  }

.footer_box {
  display: flex;
}

.footer__text {
  width:430px;
}

.footer__text_info {
  margin-top: 29px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 0;
}

.footer__right {
  display: flex;
  margin-bottom: 97px;
}

.footer__right_title {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  text-transform: uppercase;
}

.footer__right_link {
  line-height: 43px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.column {
  display: flex;
  flex-direction: column;
}



.footer {
  margin-top: 109px;
}


.footer__right_company {
  margin-left: 64px;
  margin-right: 129px;
}

.footer__right_shop {
  margin-left: 80px;
}

.footer__bottom {
  background-color: #e6e6e6;
}

.footer__bottom_main {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height:79px;
}

.footer__copy_text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
  margin-bottom: 0;
}

.footer__links {
  display: flex;
}

.footer__links_box { 
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;
}

.footer__link {
  height: 100%;
  display: block;
  background-image: url(../img/facebook.png);
  background-repeat:no-repeat;
  background-position: center;
}

.footer__link_facebook {
  background-image:url(../img/facebook.png);
}

.footer__link_twitter {
  background-image: url(../img/twitter.png);
}

.footer__link_in {
  background-image: url(../img/in.png);
}

.footer__link_p {
  background-image: url(../img/p.png);
}

.footer__link_g {
  background-image: url(../img/g.png);
}

.footer__link:hover {
  background-color: #f16d7f;
}

.footer__right_link:hover {
  color: #f16d7f;
}

.browse_box_item:hover {
  color: #f16d7f;
}

