@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src:url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato-Thin;
  src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}


body {
  font-family: 'Lato', sans-serif;
}

summary {
  cursor: pointer;
}

input {
  outline:none;
}

li {
  list-style-type: none; 
}

p, h1, h2, h3 {
  margin:0;
}


ul {
  margin-left: 0; 
  padding-left: 0; 
}

a {
  text-decoration: none;
  color: #222222;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none
}

.header {
  margin-top:25px;
}

.header_main {
  display: flex;
  justify-content: flex-start;
}

.header_left { 
  display: flex;
  align-items: center;
  margin-right: 349px;
}

.header_right { 
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}


.logo {
  display: flex;
  margin-right: 37px;
  align-items: center;
}

.bran {
  margin-left: 13px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}

.d {
  margin-right: 37px;
  font-family: 'Lato', sans-serif;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
}

.browse {
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
}

.browse-title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.35px;
  position: relative;
}

.browse-subtitle {
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 36px;
  position: relative;
}

.arrow {
  margin-left: 7px;
  color: #838383;
  font-size: 14px;
}

.browse_box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left:35px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.browse_box {
  width: 222px;
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px 20px 20px 15px;
  z-index: 1;
  border:1px solid #e6e6e6;
}

.browse_box_heading {
  color: #4f4f4f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-bottom: 9px;
  margin-top: 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}

.browse_box_item {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  display: block;
  line-height: 28px;
  text-transform: none;
}

.browse_box_content_bottom {
  margin-top: 15px;
}

.header__form {
  display: flex;
  width: 317px;
}

.header__search_input {
  width: 280px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-family: 'Lato';
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
  border-right: none;
  border-left: none;
}

.header__search_btn {
  width: 36px;
  padding: 12px 11px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
  border-left: none;
  border: 1px solid #e6e6e6;
  height: 38px;
}

.basket {
  width: 32px;
  height: 29px;
  margin-right: 26px;
}

.cart__down {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 21px 15px 20px 17px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  top: 82px;
}

.cart__down-price {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__down-price_text {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__down-chek {
  display: block;
  padding: 19px 74px;
  background-color: #fff;
  color: #f16d7f;
  margin-bottom: 10px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
}

.cart__down-chek:hover {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
}

.cart__down-go {
  display: block;
  padding: 20px 72px 18px 71px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__down::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 11px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}



.cart__down-go:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

.cart__down-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ededed;
}


.star {
  font-size: 12px;
  color: #e4af48;
}

.cart__text {
  line-height: 1.6;
}

.cart__text-heading {
  color: #222222;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.8;
}

.cart__text-star {
  display: flex;
}

.cart__text-price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.8;
}

.close {
  color: #c0c0c0;
  font-size: 16px;
}

.account {
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  width: 130px;
}

.account-title {
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: normal;
  position: relative;
}

.account-subtitle {
  display: flex;
  padding-left: 19px;
  align-items: center;
  width: 130px;
  height: 38px;
}

.arrow__white {
  color: #ffffff;
}

.hr {
  border: none;
  background-color: #ececec;
  color: #ececec;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 0px;
}


.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 680px;
  height: 51px;
  position: relative;
}

.nav-item {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.megabox::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left:10px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.megabox_last::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top:-8px;
  left:820px;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
}

.megabox {
  width: 846px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 51px;
  display: flex;
  z-index: 1; 
  padding-bottom: 20px;
  display: none;
  border:1px solid #e6e6e6;
}

.nav-item:hover .megabox {
  display:flex;
}

.megabox__content {
  width: 235px;
}

.megabox__content_left {
  margin-left: 25px;
}

.megabox_heading {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-bottom: 9px;
  margin-top: 21px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}


.megabox_item {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  display: block;
  line-height: 28px;
  text-transform: none;
}

.megabox__content_right {
  margin-left: 46px;
}

.megabox__content_right {
  position: relative;
  margin-left: 46px;
}

.megabox__content_black {
  margin-top: 13px;
  width: 255px;
  height: 118px;
  position: relative;
  left: -14px;
}

.megabox__content_img {
  background-image: url(../img/megabox_img.png);
  width: 255px;
  height: 118px;
  position: absolute;
  top: 181px;
  right: -6px;
}

.last2:hover .megabox {
  right:0px;
}

.last1:hover .megabox {
  right:120px;
}

.fashion {
  height: 613px;
  background-color: #e8e8e8;
  overflow: hidden;
}

.fashion_wrapper {
  background-image: url(../img/fashion.png);
  height: 665px;
  position: relative;
  top: -51px;
}

.fashion_main {
  position: relative;
  top: 276px;
  display: flex;

}

.rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.fashion_text {
  width: 509px;
  display: flex;
  flex-direction: column;
}


.fashion_text-brand {
  width: 1600px;
  color: #222222;
  font-size: 60px;
  letter-spacing: 1.5px;
  font-family: "Lato-Black";
  margin: 0;
  font-weight: 400;
  position: relative;
  margin-left: 12px;
  top: -13px;
  text-transform: uppercase;
}

.fashion_flex {
  display: flex;
  position: relative;
  top: -16px;
}

.fashion_text-luxe{
  font-style: normal;
  letter-spacing: 1px;
  line-height: normal;
  font-family: "Lato-Black";
  font-size: 40px;
  font-weight: 400;
  margin-left: 12px;
}

.colortext-fashion {
  color: #f16d7f;
  letter-spacing: 1px;
  font-family: "Lato-Black";
  font-size: 40px;
}

.discounts {
  margin-top: 98px;
  height:823px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.discounts-text {
  color: #222222;
  font-family: "Lato-Black";
  font-size: 18px;
  margin:0;
}

.white_block-men {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  top: 26px;
}

.box {
  padding-left: 19px;
}

.colortext-discounts {
  color: #f16d7f;
  font-family: "Lato-Black";
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: normal;
}

.men {
  width: 560px;
  height: 542px;
  background-image:url(../img/mens.png);
}

.accerories {
  margin-top: 20px;
  width: 560px;
  height: 261px;
  background-image: url(../img/accerories.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #dadad2;
}

.white_block-accerories {
  width: 225px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  top: 26px;
}

.women {
  width: 560px;
  height: 261px;
  background-image:url(../img/women.png);
}

.white_block-women {
  width: 162px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  top: 26px;
}


.kids {
  width: 560px;
  height: 542px;
  margin-top: 20px;
  background-image:url(../img/kids.png);
}

.white_block-kids {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  top: 26px;
}

.fetured-items {
  margin-top: 100px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fetured-items_title {
  font-family: Lato;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin: 0;
  }

.fetured-items_subtitle {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin:0;
  margin-bottom: 20px;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  width: 261px;
}

.card-link {
  width: 261px;
  display: block;
  padding-bottom: 20px;
}

.card_img {
  height: 280px;
  width: 100%;
  position: relative;
}

.card1 {
  background:url(../img/card1.png);
}

.card2 {
  background:url(../img/card2.png);
}

.card3 {
  background:url(../img/card3.png);
}

.card4 {
  background:url(../img/card4.png);
}

.card5 {
  background:url(../img/card5.png);
}

.card6{
  background:url(../img/card6.png);
}

.card7 {
  background:url(../img/card7.png);
}

.card8 {
  background:url(../img/card8.png);
}


.card:hover .card_shop {
  display:flex;
}

.card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.card:hover .card-product {
  filter: brightness(50%);
}

.card_shop {
  position: absolute;
  top: 112px;
  justify-content: center;
  width: 100%;
  display: none;
}

.card_shop_link {
  width: 123px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.card_shop_link:hover {
  box-shadow: 0 0 10px #fff;
}

.card_shop_link_img {
  margin-right: 7px;
}

.card_shop_link {
  height: 100%;
  display: flex;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.card_title {
  font-family: Lato-Bold;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-top: 19px;
  margin-bottom: 17px;
  margin-left: 15px;
}

.card_subtitle {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin: 0;
  margin-left: 15px;
  
}

.fetured-items_browse {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  margin-top: 79px;
}

.fetured-items_browse_link {
  font-family: Lato;
  font-size: 16px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: block;
  padding-left: 24px;
  height: 100%;
}

.fetured-items_browse:hover .fetured-items_browse_link {
  color: #f16d7f;
}

.fetured-items_browse:hover {
  background-color:#fff;
  box-shadow: 10px 5px 5px  #f16d7f;;
  border:1px solid #e6e6e6;
  box-sizing:border-box;
}

.arrow-right {
  font-size: 15px;
  margin-left: 9px;
}

.sales {
  margin-top: 113px;
}

.offer {
  display: flex;
  background-color: #222224;
}

.offer_left {
  background-image:url(../img/offer_img.png);
  width: 767px;
  height: 529px;
}

.offer_box {
  position: relative;
  width: 300px;
  top: 130px;
  left: 39px;
  flex-wrap: wrap;
}

.offer__box_top {
  display: flex;
  justify-content: space-between;
}

.offer__title {
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 0;
}

.offer__title_pink {
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-left: 12px;
  color: #f16d7f;
  margin: 0;
}

.offer__subtitle {
  font-family: Lato;
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 0;
}


.offer_right {
  width: 373px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 529px;
  justify-content: space-evenly;
}

.offer_right_info {
  display: flex;
  margin-left: 36px;
  width: 296px;
  justify-content: space-between;
}

.offer_right_img1 {
  width: 51px;
  background: no-repeat;
  background-image: url(../img/offer_right_img1.png)
}

.offer_right_img2 {
  width: 51px;
  background: no-repeat;
  background-image: url(../img/offer_right_img2.png)
}

.offer_right_img3 {
  width: 51px;
  background: no-repeat;

  background-image: url(../img/offer_right_img3.png)
}

.offer_right_text {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-left: 33px;
}

.offer_right_text-title {
  margin: 0;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.offer_right_text-subtitle {
  font-family: Lato-Light;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #fbfbfb;
  margin-bottom: 0;
}

.information {
  background-image:url(../img/information_img.png);
  background-color: #f2f2f2;
  background-repeat:no-repeat;
  background-position:center;
  height: 438px;
  position: relative;
  background-size: 100% 438px;
}

.vertical-line {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 0;
}

.information__main {
  display: flex;
}

.comments {
  display: flex;
  margin-top: 111px;
}

.comments__img {
  background-image:url(../img/comments__img.png);
  width: 83px;
  height:83px;
}

.comment {
  margin-left: 30px;
}

.comment__text {
  width: 386px;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin-bottom: 19px;
}

.comment__info {
  width: 82px;
}

.comment__info_name {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

.comment__info_country {
  color: #222224;
  font-family: "Lato-Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.comment__slides {
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin-top: 38px;
}

.comment__slide {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.comment__slide:hover {
  background-color: #f16d7f;
}

.subscribe {
  margin-top: 148px;
  margin-left: 165px;
}

.subscribe__box {
  margin-bottom: 35px;
}

.subscribe__title {
  color: #222224;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.subscribe__subtitle {
  color: #222224;
  font-family: 'Lato';
  text-align: center;
  line-height: 54px;
  text-transform: uppercase;
  line-height: 24px;
}

.subscribe__search_input {
  width: 254px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: none;
  color: #222224;
  font-family: Lato;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
}

.subscribe__search_btn {
  background-color: #f16d7f;
    padding: 18px 20px;
    border: none;
    border-radius: 0 23px 23px 0;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
}


.subscribe__form {
  display: flex;
}




.footer {
  margin-top: 109px;
}

.footer_box {
  display: flex;
}

.footer__text {
  width:430px;
}

.footer__text_info {
  margin-top: 29px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 0;
}

.footer__right {
  display: flex;
  margin-bottom: 97px;
}

.footer__right_title {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  text-transform: uppercase;
}

.footer__right_link {
  line-height: 43px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer__right_company {
  margin-left: 64px;
  margin-right: 129px;
}

.footer__right_shop {
  margin-left: 80px;
}

.footer__bottom {
  background-color: #e6e6e6;
}

.footer__bottom_main {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height:79px;
}

.footer__copy_text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer__links {
  display: flex;
}

.footer__links_box { 
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;
}

.footer__link {
  height: 100%;
  display: block;
  background-image: url(../img/facebook.png);
  background-repeat:no-repeat;
  background-position: center;
}

.footer__link_facebook {
  background-image:url(../img/facebook.png);
}

.footer__link_twitter {
  background-image: url(../img/twitter.png);
}

.footer__link_in {
  background-image: url(../img/g.png);
}

.footer__link_p {
  background-image: url(../img/p.png);
}

.footer__link_g {
  background-image: url(../img/p.png);
}

.footer__link:hover {
  background-color: #f16d7f;
}

.footer__right_link:hover {
  color: #f16d7f;
}

.browse_box_item:hover {
  color: #f16d7f;
}

